*{
  padding: 0;
  margin: 0;
}

html{
  background-color: #FFFFFF;
}

header{
  background-color: #ff9023;
  color: white;
  padding: 2rem;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 3rem;
}

main {
  padding-top: 5rem;
}