/* Estilização Geral */

*{
  padding: 0;
  margin: 0;
}

:root{
  --bg: #ffe9d3;
  --tit--color1: black;
  --p--color: black;
  --hm--a--color: black;
  --gp--h1--color: black;
}

html{
  background-color: var(--bg);
  scroll-behavior: smooth;
  font-size: 62.5%;
}

main {
  padding-top: 1.5rem;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

p{ font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

/* Estilização da Header */

header{
  background-color: #ff9023;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
}

.bob-a{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding-top: 0rem;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

.moon-simbol {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Estilização da Home */

#home {
  padding-top: 10rem;
  padding-bottom: 5rem;
  position: relative;
  min-height: 40rem;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: 
    radial-gradient(circle at 15% 15%, #ff9023 0%, transparent 50%),
    radial-gradient(circle at 85% 20%, #ff9023 0%, transparent 40%),
    radial-gradient(circle at 50% 85%, #ff9023 0%, transparent 40%);
  opacity: 15%;
  z-index: -1;
  pointer-events: none;
}


.text-home{
  text-align: center;
}

#home h1{
  padding-left: 8rem;
  color: #ff9023;
  font-size: 5rem;
}

#home h2{
  color: var(--tit--color1);
  font-size: 5rem;
  padding-right: 8rem;
  font-weight: lighter;
}

#home p{
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  color: var(--p--color);
  font-weight: 500;
}

.interative-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home a{
  padding-top: 3rem;
  text-decoration: none;
  color: var(--hm--a--color);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  opacity: 65%;
}

#home button{
  font-size: 20px;
  background-color: #ff9023;
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 100px;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

/* Estilização do Sobre */

#sobre{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 15rem;
  padding-bottom: 5rem;
  scroll-margin-top: 10rem;
  min-height: 40rem;
  position: relative;
}

#sobre::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: 
   radial-gradient(circle at 10% 10%, #ff9023 0%, transparent 50%),
   radial-gradient(circle at 10% 90%, #ff9023 0%, transparent 20%),
   radial-gradient(circle at 90% 10%, #ff9023 0%, transparent 40%);
  pointer-events: none;
  z-index: -1;
  opacity: 15%;
}

#sobre img{
  width: 30%;
  height: auto;
  border-radius: 20%;
  margin-right: 9rem;
}
 
.text-sobre {
  max-width: 50%;
}

#sobre h1{
  padding-left: 5rem;
  color: var(--tit--color1);
  font-size: 5rem;
  font-weight: lighter;
}

#sobre p{
  padding-top: 1rem;
  padding-left: 5.5rem;
  color: var(--p--color);
  font-weight: lighter;
  font-size: 2rem;
  text-align: justify;
}

/* Estilização do Grade Page */

#grade-page{
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 5rem;
  min-height: 40rem;
  padding-left: 10rem;
  font-size: 2.25rem;
  font-family: 'Playfair Display', serif;
  color: var(--gp--h1--color);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70rem;
  height: 30rem;
  padding-top: 3.5rem;
}

.grid-item{
  background-color: #ff9023;
  display: flex;
  align-items: center;
  border-radius: 20px;
}


/* Estilização da Final Page */

#final-page{
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 5rem;
  position: relative;
  min-height: 40rem;
}

#final-page::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: 
    radial-gradient(circle at 20% 90%, #ff9023 0%, transparent 40%),
    radial-gradient(circle at 50% 20%, #ff9023 0%, transparent 40%),
    radial-gradient(circle at 80% 80%, #ff9023 0%, transparent 40%);
  opacity: 15%;
  z-index: -1;
  pointer-events: none;
}

#final-page h1{
  font-size: 5rem;
  color: var(--tit--color1);
}

#final-page p{
  font-size: 1.5rem;
  color: var(--p--color);
  align-items: center;
  font-weight: 500;
  padding-bottom: 5rem;
}

#final-page button{
  font-size: 20px;
  background-color: #ff9023;
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 100px;
  border: none;
}


/* Estilização do Footer */

footer{
  padding: 1rem;
  background-color: #ff9023;
  color: white;
}

/* Estilização Modo Dark */
.dark-mode:root{
  --bg: black;
  --tit--color1: white;
  --p--color: white;
  --hm--a--color: white;
  --gp--h1--color: #ff9023;
}

#Moon {
  cursor: pointer; 
  user-select: none; 
}