/* Estilização Geral */

*{
  padding: 0;
  margin: 0;
}

:root{
  --bg: #ffe9d3;
  --tit--color1: black;
  --p--color: black;
  --hm--a--color: black;
}

html{
  background-color: var(--bg);
  scroll-behavior: smooth;
  font-size: 62.5%;
}

main {
  padding-top: 1.5rem;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

p{ font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

/* Estilização da Header */

header{
  background-color: #ff9023;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
}

.bob-a{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding-top: 0rem;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

.moon-simbol {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




/* Estilização da Home */

#home {
  padding-top: 10rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.text-home{
  text-align: center;
}

#home h1{
  padding-left: 8rem;
  color: #ff9023;
  font-size: 5rem;
}

#home h2{
  color: var(--tit--color1);
  font-size: 5rem;
  padding-right: 8rem;
  font-weight: lighter;
}

#home p{
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  color: var(--p--color);
  font-weight: 500;
}

.interative-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home a{
  padding-top: 3rem;
  text-decoration: none;
  color: var(--hm--a--color);
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  opacity: 0.3;
}

#home button{
  font-size: 20px;
  background-color: #ff9023;
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 100px;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.color {
  content: "";
  position: absolute;
  height: 150%;
  width: 55%;
  background-image: radial-gradient(closest-side, #ff9023, var(--bg));
  opacity: 0.4;
  z-index: -1;
  top: -20rem;
  left: -15rem;
  pointer-events: none;
}

.color2 {
  content: "";
  position: absolute;
  height: 120%rem;
  width: 40rem;
  background-image: radial-gradient(closest-side, #ff9023, var(--bg));
  opacity: 0.4;
  z-index: -1;
  top: -20rem;
  left: 85rem;
  pointer-events: none;
}


/* Estilização do Sobre */

#sobre{
  display: flex;
  flex-wrap: wrap;
  padding-top: 15rem;
  padding-bottom: 5rem;
  scroll-margin-top: 10rem;
}

#sobre h1{
  padding-left: 2.5rem;
  color: var(--tit--color1);
}

#sobre p{
  padding-top: 1rem;
  padding-left: 2.5rem;
  color: var(--p--color);
}

/* Estilização do Grade Page */

#grade-page{
  display: flex;
  padding-top: 15rem;
  padding-bottom: 5rem;
  
}

/* Estilização da Final Page */

#final-page{
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

#final-page h1{
  font-size: 5rem;
  color: var(--tit--color1);
}

#final-page p{
  font-size: 1.5rem;
  color: var(--p--color);
  align-items: center;
  font-weight: 500;
  padding-bottom: 5rem;
}

#final-page button{
  font-size: 20px;
  background-color: #ff9023;
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 100px;
  border: none;
}


/* Estilização do Footer */

footer{
  padding: 1rem;
  background-color: #ff9023;
  color: white;
}

/* Estilização Modo Dark */
.dark-mode:root{
  --bg: black;
  --tit--color1: white;
  --p--color: white;
  --hm--a--color: white;
}

#Moon {
  cursor: pointer; 
  user-select: none; 
}